.container {
  background-color: var(--dark-bg-color);
  height: 100vh;
  padding: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.container span {
  width: 1px;
  height: 15rem;
  background-color: var(--primary-color);
}

.form {
  padding: 1rem;
}
.form h1 {
  padding: 1rem 0;
}
.input__group {
  padding: 1rem 0;
  font-family: var(--font-family);
  color: var(--font-color-primary);
  font-size: var(--font-size-p);
}
.input__group label {
  display: block;
  padding: .5rem 0;
}
.input__group input {
  background: var(--dark-bg-color-secondary);
  border: 2px solid var(--primary-color);
  box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.25);
  border-radius: 16px;

  padding: .8rem 1rem;
  width: 25rem;
  caret-color: var(--primary-color);
}

.link__group {
  display: flex;
  flex-direction: column;  
  padding: 1rem 0;
}

.link__group button{
  background-color: var(--primary-color);
  border: none;
  border-radius: .6rem;
  padding: .5rem 2rem;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 1rem;
  color: var(--font-color-primary);
}
.link__group a{
  color: var(--font-color-secondary);
  font-family: var(--font-family);
  font-size: var(--font-size-p2);
}